astroid==2.15.6
dill==0.3.7; python_version < '3.11'
doq==0.10.0
isort==5.12.0
jinja2==3.1.2
lazy-object-proxy==1.9.0
markupsafe==2.1.3
mccabe==0.7.0
owlready2==0.44
parso==0.8.3
platformdirs==3.10.0
pylint==2.17.5
toml==0.10.2
tomli==2.0.1; python_version < '3.11'
tomlkit==0.12.1
typing-extensions==4.7.1; python_version < '3.11'
wrapt==1.15.0; python_version < '3.11'
